body {
	margin: 0;
}

#map {
	position: fixed;
	top: 0px;
	width: 100%;
}

#map img {
	margin: 0 auto;
	width: 720px;
	display: block;
	border-left: 90px solid #fff;
	border-right: 90px solid #fff;
	border-bottom: 14px solid #fff;
	box-shadow: 0 0 14px 14px #fff;
}

#details {
	margin: 365px auto 0 auto;
	width: 897px;
	height: 100%;
}

.tree h2 {
	clear: both;
}

.tree-slideshow {
	float: left;
}

.tree-description {
	margin-left: 300px;
}